/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #1e3e62;
  --font: #e9efec;
}

* {
  color: var(--font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px;
  /* font-family: 'Poppins'; */
  font-family: 'Source Sans 3';
  background: var(--secondary);
  font-size: 1.2rem;
}

p {
  margin: 20px 0;
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 0px 30px 0px;
  border-bottom: 1px solid #c4dad2;
}

header nav h1 {
  margin-right: auto;
  /* border-bottom: 3px solid var(--primary); */
  border-top: 1px solid rgb(196, 70, 70);
  border-bottom: 2px solid rgb(196, 70, 70);
}
header nav a {
  text-decoration: none;
  padding: 6px;
  /* border-radius: 4px; */
}
header nav a.active {
  /* background: var(--primary); */
  color: rgb(185, 122, 38);
  border-bottom: 3px solid var(--primary);
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}

/* .root-layout {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 50%;
  padding: 10px;
  max-width: 1200px;
  column-gap: 40px;
} */

/* header {
  display: flex;
  padding: 10px 10px 25px 10px;
  flex-direction: column;
  flex: 0 0 100%;
  border-bottom: 1px solid #c4dad2;
} */

/* nav {
  display: flex;
   flex-direction: column; 
   border-right: 1px solid #ccc; 
  padding: 20px 10px 10px 10px;
} 

*/
/* main {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 10px 10px;
} */

/* main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

/* a {
  text-decoration: none;
}

.items-list {
  padding: 10px 10px 10px 20px;
}

.content > p {
  margin: 10px 0;
}

.details {
  background: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 4px;
  margin: 10px 0;
}
.list {
  padding: 2px;
  margin: 3px 0;
}

Form *:not(label) {
  color: black;
}

.to-delete {
  text-decoration: line-through #bc4123;
  text-decoration-thickness: 3px;
}

.not-to-delete {
  text-decoration: none;
} */

/* Default layout: header, sidebar, and content are in one row */
/* header,
nav,
main {
  flex: 1;
} */

/* header {
  flex: 1 1 100%;
}
nav {
  flex: 1 1 50;
}
main {
  flex: 1 1 50%;
} */

/* Small screen layout: header and content are in one column, sidebar is hidden */
@media (max-width: 768px) {
  header,
  main {
    flex: 1 1 100%;
  }
  nav {
    display: none;
  }
}
/* Medium screen layout: header and sidebar are in one row, content is in another row */
/* @media (min-width: 769px) and (max-width: 1024px) {
  header,
  nav {
    flex: 1 1 50%;
  }
  main {
    flex: 1 1 100%;
  }
} */

@media (min-width: 769px) and (max-width: 1024px) {
  header {
    flex: 1 1 100%;
  }
  nav {
    flex: 1 1 100%;
  }
  main {
    flex: 1 1 100%;
  }
}
